<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @milage.vehicle %>
</p>

<p>
  <strong>Date:</strong>
  <%= @milage.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @milage.amount %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @milage.cost %>
</p>

<p>
  <strong>Mpg:</strong>
  <%= @milage.mpg %>
</p>

<p>
  <strong>Cpg:</strong>
  <%= @milage.cpg %>
</p>

<p>
  <strong>Cpm:</strong>
  <%= @milage.cpm %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @milage.trip %>
</p>

<p>
  <strong>Serviced:</strong>
  <%= @milage.serviced %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @milage.notes %>
</p>

<%= link_to 'Edit', edit_milage_path(@milage) %> |
<%= link_to 'Back', milages_path %>
