<%= form_for(vehicle) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
    <!--<%= f.date_field(:year) %>
    <%= f.date_select(:year, :start_year => 1930, :end_year =>  Date.today.year + 1, 
                      discard_month: false, discard_day: false) %> -->
  </div>

  <div class="field">
    <%= f.label :make %>
    <%= f.text_field :make, placeholder: "Ford, Dodge, Toyota, etc" %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model, placeholder: "F150, Charger, Camry, etc" %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :owned %>
    <%= f.check_box :owned %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
